<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The connection string for accessing the database -->
    <!--add key="SqlConnString" value="server=localhost;database=atio_en;Integrated Security=true"/-->
    <add key="SqlConnString" value="server=192.168.18.51,1435;database=MEHS_DB;uid=syspro;pwd=syspro"/>  
  </appSettings>
</configuration>